<ng-container *ngIf="forecast$ | async as forecast">
    <div class="row">
        <div class="col">
            <h1 id="cityName">{{forecast.city.name}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item" *ngFor="let daily of forecast.dailyForecasts">
                    <a class="nav-link" [class.active]="selectedForecast === daily" (click)="selectForecast(daily)">
                        <h2 class="day-heading">{{daily.date | date:'EEEE'}}</h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-forecast-detail [dailyForecast]="selectedForecast"></app-forecast-detail>
        </div>
    </div>
</ng-container>